/* Calendar Page Styles */

.labp1-outer-box {
    background-color: #5B5342;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    color: black;
}

.labp1-box-title {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.labp1-inner-box {
    background-color: wheat;
}

.labp1-inner-box-content {
    padding-left: 10px;
     padding-right: 10px;
}