/* Layout Styles */

body {
    margin: 0 auto;
    font-size: 130%;
    margin: 10px;
    overflow-x: hidden;
    background-color: wheat;
    color: #5B5342;
}

ul {
    padding-left: 18px;
}

ul li {
    padding-left: 18px;
    margin-bottom: 0 auto !important;
}

ul ul {
    font-size: 15px;
}

ul ul li {
    margin: 0 auto !important;
}

a {
    color: #5B5342;
}

.fluid-text a {
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.minimal-padding * {
    padding: 0;
    margin: 15px;
    line-height: 20px;
}

.no-line-height {
    line-height: 0px;
}

.unbolded {
    font-weight: 300;
}

.col-container {
    display: flex;
    flex-flow: row wrap;
    border: 5px solid #5B5342;
}

.col-left {
    flex: 1 0 auto;
    border-right: 5px solid #5B5342;
    display: flex;
    justify-content: center;
}

.col-left-content {
    flex: 0 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.col-right {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 30px);
}

.header-section {
    border-bottom: 5px solid #5B5342;
    width: 100%;
}

.header-section-inner-box {
    margin: 10px;
    border: 1px solid #5B5342;
    display: flex;
    flex-flow: row wrap;
}

.header-section-inner-box-left {
    flex: 1 1 auto;
    border-right: 1px solid #5B5342;
}

.header-section-inner-box-right {
    flex: 1 1 auto;
}

.body-section {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
}

.body-section-content {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #5B5342;
    margin: 10px;
    width: 100%;
}

.footer-section {
    border-top: 5px solid #5B5342;
    width: 100%;
}






/* Index Section Styles */

.index-left-col {
    flex: 1 0 250px;
    display: flex;
    flex-flow: column wrap;
    border-right: 1px solid #5B5342;
}

.index-photo-section {
    flex: 1 0 auto;
    background: url("../images/me.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #5B5342;
    min-height: 300px;
    filter: sepia(0.7);
}

.index-summary-section {
    flex: 1 1 auto;
}

.index-right-col {
    flex: 1 1 250px;
}















