body {
    margin: 0 auto;
    font-size: 130%;
    margin: 10px;
    overflow-x: hidden;
}

ul {
    padding-left: 18px;
}

a {
    color: black;
}

.text-center {
    text-align: center;
}

.minimal-padding * {
    padding: 0;
    margin: 15px;
    line-height: 20px;
}

.no-line-height {
    line-height: 0px;
}

.unbolded {
    font-weight: 300;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.col {
    min-height: 95vh;
}

.col-container {
    display: flex;
    flex-flow: row nowrap;
    border: 5px solid black;
}

.col-left {
    flex: 0 0 auto;
    border-right: 5px solid black;
}

.col-right {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
}

.header-section {
    border-bottom: 5px solid black;
    width: 100%;
}

.header-section-inner-box {
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}

.header-section-inner-box-left {
    flex: 1 1 auto;
    border-right: 1px solid black;
}

.header-section-inner-box-right {
    flex: 1 1 auto;
}

.body-section {
    flex: 1 1 auto;
    width: 100%;
    padding: 10px;
    display: flex;
}

.body-section-content {
    flex-flow: row wrap;
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    width: 100%;
}

.footer-section {
    border-top: 5px solid black;
    width: 100%;
}