/* Lab2 Section Styles */

.lab2-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .lab2-cal-header {
        flex: 1 0 100%;
        display: flex;
        text-align: center;
    }

    .lab2-cal-header * {
        width: 100%;
    }

    .day-text {
        margin: 0;
        text-align: center;
    }

    .date-text {
        padding: 5px;
        margin: 0;
    }

    .lab2-day-boxes {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .lab2-day-box {
        flex: 0 0 calc(100% / 7);
    }

    .lab2-date-boxes {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .lab2-date-box {
        flex: 0 0 calc(100% / 7);
    }

    .lab2-date-box-inner {
        margin: 1px;
        background-color: rgba(0,0,0,0.2);
    }