/* Lab2 Section Styles */

.lab2-container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.lab2-cal-header {
    text-align: center;
}

.day-text {
    margin: 0;
    text-align: center;
}

.date-text {
    padding: 5px;
    margin: 0;
}

.lab2-day-boxes {
    display: flex;
    flex-wrap: nowrap;
}

.lab2-day-box {
    flex: 0 0 calc(100% / 7);
}

.lab2-date-boxes {
    display: flex;
    flex-wrap: wrap;
}

.lab2-date-box {
    flex: 0 0 calc(100% / 7);
}

.lab2-date-box-inner {
    margin: 1px;
    background-color: rgba(0,0,0,0.2);
}